#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

img:hover{
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
    border-radius: 140px;
}